@charset "UTF-8";
@import "./index.css";
	.top{
	width : 1100px;
	height: 50px;
	background-color: #afe1ff;
	position: relative;
	box-sizing:border-box;
	border-top:2px solid #f6c757;
	}
	.top > span{
		display:block;
		height:50px;
		float:left;
		text-align: center;
		line-height:50px;
	}
	.top > span:after{
		content : " |";
	}
	.top > span:nth-child(6):after{
		content : "";
	}
	
	.mid{
	width: 1100px;
	height: 235px;
	background-color: #eee;
	}
	
	.bot{
	width: 1100px;
	height: 105px;
	background-color: #e4e724;
	font-family: 'Noto Sans KR', sans-serif;
	font-size : 14px;
	}